<div class="gridster-container" [ngClass]="{'show-mode': isShowMode,  'ShowForm':isCreeateChartClicked}">
  <gridster [options]="gridsterOptions">
    @for(item of gridItems; track item.chartData.Id)
    {
    <gridster-item [item]="item"
                   (itemChange)="onItemChange(item)">
      <div class="margin-top-right-5" style="text-align:right">
        <div style="display:inline-block">
          <a class="edit"
             (mousedown)="editChartClicked($event, item)"
              (touchstart)="editChartClicked($event, item)">
            <i class="fa fa-edit"></i>
          </a>
        </div>
        <div style="display:inline-block">
          <a (mousedown)="removeItem($event, item)"
             (touchstart)="removeItem($event, item)" class="delete">
            <i class="fa fa-trash"></i>
          </a>
        </div>


      </div>
      @if(item.chartData.type !== 'Table')
      {  <app-chart [data]="item.chartData.data|| []"
                    [chartType]="item.chartData.type" [title]="item.chartData.title">

      </app-chart>
      }
      @if(item.chartData.type === 'Table')
      {
      <app-table [Data]="item.chartData.data|| []" [title]="item.chartData.title"></app-table>
      }
    </gridster-item>
    }
  </gridster>


</div>
