.gridster-container {
  /*  height: calc(100vh - 150px);

*/
  height: 100vh;
  width: 100%;
  padding: 10px;
  background-color: #fafafa;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
}
.ShowForm gridster {
  width: calc(100vw - 450px);
}
.HideForm gridster {
  width: 100vw;
}
.show-mode gridster {
  background: white !important;
}

gridster {
  background: lightgray !important;
  border-radius: 4px !important;
}

gridster-item {
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;

}


.drag-handler {
  cursor: move;
}
.margin-top-right-5 {
  margin-top: 5px;
  margin-right:5px
}
a {
  background-color: none;
  text-decoration: none;
}

.delete:hover {
  cursor: pointer;
  color: red
}
.delete {
  color: red;
}

.edit:hover {
  cursor: pointer;
  color: #f0ad4e;
}

.edit {
  color: #f0ad4e;
}
