<div class="gridster-container" [ngClass]="{'show-mode': isShowMode}">
  <gridster [options]="gridsterOptions">
    @for(item of gridItems; track item.chartData.Id) 
    {
    <gridster-item [item]="item"
                   (itemChange)="onItemChange(item)">
      <div class="text-right margin-top-right-5">
        <button class=" btn btn-danger btn-xs" type="button" mat-mini-fab
                (mousedown)="removeItem($event, item)"
                (touchstart)="removeItem($event, item)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>

      <app-chart *ngIf="item.chartData.type !== 'Table'" [data]="item.chartData.data"
                 [chartType]="item.chartData.type" [title]="item.chartData.title">

      </app-chart>

      <app-table *ngIf="item.chartData.type === 'Table'" [Data]="item.chartData.data" [title]="item.chartData.title"></app-table>
    </gridster-item>
    }
  </gridster>


</div>
