select {
  border-radius: 7px;
}
.LogicalLink {
  border-radius: 30px;
  width:70px
}
a {
  text-decoration: none;
  color: black
}

.heading {
  display: inline;
  margin-right: 10px;
  font-size: 18px;
  font-weight: 500;
  font-family: Inter;
  margin-left: 20px;

}
/*@media (max-width: 767px) {
  .row {
    margin-left: -5px;
    margin-right: 5px;
  }

    .row > [class*="col-"] {
      padding-left: 5px;
      padding-right: 5px;
    }

  .form-control {
    min-height: 44px;
  }

  .input-sm {
    min-height: 38px;
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .form-control.input-sm {
    font-size: 13px;

  }


}
*/
