<div class="container margin-top-5" *ngIf="!isShowMode">
  <button type="button" class="btn btn-primary" (click)="changeMode()">Show Mode</button>
  <button type="button" class="btn btn-primary" (click)="openChartModalClicked()">Create Chart</button>
</div>
<div class="container margin-top-5" *ngIf="isShowMode">
  <button type="button" class="btn btn-primary" (click)="changeMode()">Edit Mode</button>

</div>

  <app-chart-creator-form [GetViewsAndTablesURL]="GetViewsAndTablesURL"
                          [GetTablesURL]="GetTablesURL"
                          [GetViewsURL]="GetViewsURL"
                          [TableType]="TableType"
                          [GetColumnURL]="GetColumnURL"
                          (Execute)="fetchData($event)"
                          [openRequested]="openForm"></app-chart-creator-form>


  <app-grid-view [charts]="charts" [isShowMode]="isShowMode"
                    (chartPositionChanged)="saveCharts()"
                  (chartRemoved)="removeChart($event)"></app-grid-view>
