<!--@if(!isShowMode)
{
<div class="container margin-top-5">
  <button type="button" class="btn btn-primary" (click)="changeMode()">Show Mode</button>
  <button type="button" class="btn btn-primary" (click)="openChartModalClicked()">Create Chart</button>
</div>
}
      @if(isShowMode)
{
<div class="container margin-top-5">
  <button type="button" class="btn btn-primary" (click)="changeMode()">Edit Mode</button>

</div>
}-->

<app-dashboard-control (showModeChanged)="handleChangeMode($event)" [isShowMode]="isShowMode" (createChartClicked)="handleCreateChart($event)" [isCreeateChartClicked]="isCreeateChartClicked"
                       [dashboarScope]="dashboarScope" [dashboardName]="dashboardName"></app-dashboard-control>
<!--<app-chart-creator-form [getTableNamesByTypeURL]="getTableNamesByTypeURL"
                        [tableType]="tableType"
                        [getColumnURL]="getColumnURL"
                        (Execute)="fetchData($event)"
                        [openRequested]="openForm"
                        [token]="token"></app-chart-creator-form>-->
@if(isCreeateChartClicked)
{
<app-multi-step-form [tableType]="tableType" [token]="token" (isCancelCreateChartClicked)="handleCancelCreateChart()" (addNewVisualization)="handleAddNewVisualization($event)"></app-multi-step-form>
}
@if(!isShowMode && !isCreeateChartClicked)
{
<div class="Create">
  <a (click)="createChartClick()">
    <i class="fa fa-plus-circle"></i>
    New chart
  </a>
</div>
}
<app-grid-view [Visualizations]="unSavedVisualizations" [isShowMode]="isShowMode"
               (chartConfigChanged)="saveVisualizations()"
               (chartRemoved)="removeChart($event)" [isCreeateChartClicked]="isCreeateChartClicked"></app-grid-view>
