      @if(!isShowMode)
{
<div class="container margin-top-5">
  <button type="button" class="btn btn-primary" (click)="changeMode()">Show Mode</button>
  <button type="button" class="btn btn-primary" (click)="openChartModalClicked()">Create Chart</button>
</div>
}
      @if(isShowMode)
{
<div class="container margin-top-5">
  <button type="button" class="btn btn-primary" (click)="changeMode()">Edit Mode</button>

</div>
}
<app-chart-creator-form [getTableNamesByTypeURL]="getTableNamesByTypeURL"
                        [tableType]="tableType"
                        [getColumnURL]="getColumnURL"
                        (Execute)="fetchData($event)"
                        [openRequested]="openForm"
                        [token]="token"></app-chart-creator-form>


<app-grid-view [Visualizations]="Visualizations" [isShowMode]="isShowMode"
               (chartConfigChanged)="saveVisualizations()"
               (chartRemoved)="removeChart($event)"></app-grid-view>
