
<div style="margin-bottom:5px">
  <h3 class="heading">Top |</h3>
  @if(!showInput)
  {
  <a style="color: #f0ad4e" (click)="AddTop()"><i class="fa fa-plus-circle"></i> Top</a>
  }
  @else
  {
  <a style="color: #f0ad4e" (click)="DeleteTop()"><i class="fa fa-trash"></i> Top</a>

  }
</div>

<div class="row" style="margin-bottom:10px;margin-left:5px">
  <div class="col-xs-4">

    @if(showInput)
    {
    <div style="margin-bottom:5px">Top:</div>
    <input type="number" class="form-control input-sm" placeholder="Value" [(ngModel)]="top" (ngModelChange)="onTopValueChange()" [ngModelOptions]="{standalone: true}" />
    }
  </div>
</div>

