<div class="modal" tabindex="-1" role="dialog" id="AddFilter">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create Filters & Filter Groups</h5>
      </div>
      <div class="modal-body p-20">

        <form>
          <div>
            <app-filter (updateFilters)="handleUpdateFilter($event)" [parenthesesGroups]="parenthesesGroups" [filters]="filters" (updateParenthesesGroups)="handleUpdateFilterParentheses($event)" [filterOp]="filterOp" [columns]="columns"></app-filter>
          </div>

          <div>
            <app-filter-groups (updateFiltersParentheses)="handleUpdateFilterParentheses($event)" [filters]="filters" [parenthesesGroups]="parenthesesGroups"></app-filter-groups>
          </div>
          <div>
            <app-form-actions (saveClicked)="handleSaveFilters()" (cancelClicked)="handleCancelFilters()"></app-form-actions>
          </div>
        </form>

      </div>


    </div>
  </div>

</div>
