<div class="panel panel-info">
  <div class="panel-heading">Aggregate</div>
  <div class="panel-body">
    @for(Aggregate of aggregates; track Aggregate)
    {
    <div class="row" style="margin-bottom: 10px">
      <div class="col-xs-4">
        <select class="form-control input-sm" [(ngModel)]="Aggregate.field" (ngModelChange)="onAggregateChange()" [ngModelOptions]="{standalone: true}">
          <option value="">Select Column</option>
          @for(column of columns; track column)
          {
          <option [value]="column">{{column}}</option>
          }
        </select>
      </div>
      <div class="col-xs-4">
        <select class="form-control input-sm" [(ngModel)]="Aggregate.aggregateFunction" (ngModelChange)="onAggregateChange()" [ngModelOptions]="{standalone: true}">
          <option value="">Select Funcation</option>
          <option value="SUM">SUM</option>
          <option value="AVG">AVG</option>
          <option value="COUNT">COUNT</option>
          <option value="MAX">MAX</option>
          <option value="MIN">MIN</option>
        </select>

      </div>

      <div class="col-xs-4">
        <button type="button" class="btn btn-danger btn-sm" (click)="removeAggregate(Aggregate.id)">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>


    </div>
    }
    <div class="row">
      <div class="col-xs-12">
        <button type="button" class="btn btn-primary btn-sm" (click)="addAggregate()">
          <span class="glyphicon glyphicon-plus"></span> Add Aggregate
        </button>
      </div>
    </div>
  </div>

</div>
