
.responsive-table {
  width: 100%;
  height: auto;
  margin: 0;
  table-layout: fixed;
}

th, td {
  padding: 8px 12px;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  word-break: break-word;
}
.table-wrapper {
  overflow: auto;
  max-height: calc(100% - 40px); 
  width: 100%;
}

