
<div class="chart-builder-container">

  <!--<app-progress-bar></app-progress-bar>-->
  <form>

    <div class="row">
      <div class="col-sm-1">
        <i class="fa fa-circle"></i>
      </div>
      <div class="col-sm-11">
        <label style="margin-left:5px">Select data source</label>
        <app-table-selector [tableType]="tableType" [token]="token" (tableSelected)="fetchColumns($event)" [seletedTable]="seletedTable"></app-table-selector>
      </div>

    </div>
    <!--<div style="margin:10px">
    <i class="fa fa-circle"></i>
    <label style="margin-left:10px">Select data source</label>
    <app-table-selector [tableType]="tableType" [token]="token" (tableSelected)="fetchColumns($event)"></app-table-selector>
  </div>-->


    <div class="row" style="margin-top:20px">
      <div class="col-sm-1">
        <i class="fa fa-circle"></i>
      </div>
      <div class="col-sm-11">
        @if(wherefilters.length==0)
        {
        <a  (click)="addFilterAndFilterGroupsClicked()">
          <i class="fa fa-plus-circle" style="margin-right:5px"></i>
          <label>Filters & Filter groups</label>
        </a>
        }
        @else
        {
        <a  (click)="addFilterAndFilterGroupsClicked()">
          <i class="fa fa-edit" style="margin-right:5px"></i>
          <label>Edit Filters & Filter groups</label>
        </a>
        }
        @if(wherefilters.length>0)
        {
        <div>
          <label>Filters</label>
        </div>
        }
        @for (filter of (showMoreWhereFilters ? wherefilters : wherefilters.slice(0, 2)); track filter; let i = $index) {

        @if (i > 0) {
        <div>{{ filter.logicalLink }}</div>
        }



        <div>
          @for (group of whereParenthesesGroups; track group.id) {
          @if (isFirstInGroup(group, filter.id)) {
          <span style="font-size: 18px; font-weight: bold;">(</span>
          }
          }
          {{ filter.field }} {{ filter.operator }} {{ filter.value }}
          @for (group of whereParenthesesGroups; track group.id) {
          @if (isLastInGroup(group, filter.id)) {
          <span style="font-size: 18px; font-weight: bold;">)</span>
          }
          }
        </div>

        }
        @if(wherefilters.length>2)
        {
        <div>
          <a (click)="showMoreWhereFilters = !showMoreWhereFilters" class="more-less">
            View {{ showMoreWhereFilters ? 'less' : (wherefilters.length - 2) + ' more' }}
          </a>
        </div>
       
        }
      </div>

    </div>
    <div class="row" style="margin-top:20px">
      <div class="col-sm-1">
        <i class="fa fa-circle"></i>
      </div>
      <div class="col-sm-11">
        @if(groupByFields.length==0)
        {
        <a (click)="openGroupingForm()">
          <i class="fa fa-plus-circle" style="margin-right:5px"></i>
          <label>Grouping</label>
        </a>
        }
        @else
        {
        <a (click)="openGroupingForm()">
          <i class="fa fa-plus-circle" style="margin-right:5px"></i>
          <label>Edit Groups</label>
        </a>

        }

        <div>
          @if(groupByFields.length>0)
          {
          <label>GroupBy</label>
          }
          @for (group of (showMoreGroupBy ? groupByFields : groupByFields.slice(0, 2)); track group;let i = $index) {
          <div>{{i+1}}.{{group}}</div>
          }
        </div>

      </div>
      @if(groupByFields.length>2)
      {
      <div>
        <a (click)="showMoreGroupBy = !showMoreGroupBy" class="more-less">
          View {{ showMoreGroupBy ? 'less' : (groupByFields.length - 2) + ' more' }}
        </a>
      </div>
        
        }
      </div>

      <div class="row" style="margin-top:20px">
        <div class="col-sm-1">
          <i class="fa fa-circle"></i>
        </div>
        <div class="col-sm-11">
          @if(aggregates.length==0)
          {
          <a (click)="openaAgregateForm()">
            <i class="fa fa-plus-circle" style="margin-right:5px"></i>
            <label>Agregates</label>
          </a>
          }
          @else
          {
          <a (click)="openaAgregateForm()">
            <i class="fa fa-plus-circle" style="margin-right:5px"></i>
            <label>Edit Agregates</label>
          </a>
          }
          <div>
            @if(aggregates.length>0)
            {
            <label>Aggregates</label>

            }
            @for(aggregate of (showMoreAggregates? aggregates:aggregates.slice(0,2)); track aggregate.id)
            {          <div>{{aggregate.aggregateFunction}}({{aggregate.field}})</div>

            }
          </div>
          @if(aggregates.length>2)
          {
          <div>
            <a (click)="showMoreAggregates = !showMoreAggregates" class="more-less">
              View {{ showMoreAggregates ? 'less' : (aggregates.length - 2) + ' more' }}
            </a>
          </div>
          
            }
            <div>
              @if(aggregateFilters.length>0)
              {
              <label>Aggregates Filter</label>
              }
              @for (filter of (showMoreAggregateFilters? aggregateFilters:aggregateFilters.slice(0,2)); track filter; let i = $index) {

              @if (i > 0) {
              <div>{{ filter.logicalLink }}</div>
              }



              <div>
                @for (group of aggregateParenthesesGroups; track group.id) {
                @if (isFirstInGroup(group, filter.id)) {
                <span style="font-size: 18px; font-weight: bold;">(</span>
                }
                }
                {{ filter.field }} {{ filter.operator }} {{ filter.value }}
                @for (group of aggregateParenthesesGroups; track group.id) {
                @if (isLastInGroup(group, filter.id)) {
                <span style="font-size: 18px; font-weight: bold;">)</span>
                }
                }
              </div>




              }
            </div>
            @if(aggregateFilters.length>2)
            {
            <div>
              <a (click)="showMoreAggregateFilters = !showMoreAggregateFilters" class="more-less">
                View {{ showMoreAggregateFilters ? 'less' : (aggregateFilters.length - 2) + ' more' }}
              </a>
            </div>
          
            }
          </div>
        </div>
      <div class="row" style="margin-top:20px">
        <div class="col-sm-1">
          <i class="fa fa-circle"></i>
        </div>
        <div class="col-sm-11">
          @if(orderBies.length==0)
          {
          <a (click)="openaOrderByForm()">
            <i class="fa fa-plus-circle" style="margin-right:5px"></i>
            <label>OrderBy & Top</label>
          </a>
          }
          @else
          {
          <a (click)="openaOrderByForm()">
            <i class="fa fa-plus-circle" style="margin-right:5px"></i>
            <label>Edit OrderBy & Top</label>
          </a>
          }
          <div>
            @if(orderBies.length>0)
            {
            <label>orderBy</label>
            }
            @for(orderBy of (showMoreOrderBy? orderBies:orderBies.slice(0,2)); track orderBy.id)
            {
            <div>{{ orderBy.field }} {{ orderBy.sort ? 'Asc' : 'Desc' }}</div>
            }
          </div>
          @if(orderBies.length>2)
          {
          <div>
            <a (click)="showMoreOrderBy = !showMoreOrderBy" class="more-less">
              View {{ showMoreOrderBy ? 'less' : (orderBies.length - 2) + ' more' }}
            </a>
          </div>

          }
          <div>
            @if(top>0)
            {
            <label>Show Top: {{top}}</label>
            }
          </div>
        </div>
      </div>

      <div class="row" style="margin-top:20px">
        <div class="col-sm-1">
          <i class="fa fa-circle"></i>
        </div>
        <div class="col-sm-11">
          @if(visualizationDetails.title == "")
          {
          <a (click)="openVisualizationForm()">
            <i class="fa fa-plus-circle" style="margin-right:5px"></i>
            <label>Visualization</label>
          </a>
          }
          @else
          {
          <a (click)="openVisualizationForm()">
            <i class="fa fa-plus-circle" style="margin-right:5px"></i>
            <label>Edit Visualization</label>
          </a>
          }
          @if(visualizationDetails.title != "")
          {
          <div>
            <label>Visualization Details</label>
            <div>Title:{{visualizationDetails.title}}</div>
            <div>Type:{{visualizationDetails.visualizationType}}</div>
            <div>Number of Rows:{{visualizationDetails.numberOfRows}}</div>
            <div>Number of Columns:{{visualizationDetails.numberOfColumns}}</div>

          </div>
          }
        </div>
      </div>

      <app-form-actions (saveClicked)="handleAddisualizationDetails()" (cancelClicked)="handleCancelvisualizationDetails()"></app-form-actions>
</form>

</div>



  <app-add-filter-form [header]="'Filters'" [openForm]="openAddFilter" (saveFilters)="handleSavedWhereFilters($event)" (saveFilterParenthesesGroup)="handleSavedWhereFilterParenthesesGroup($event)" [filterOp]="whereFilterOp" [columns]="columns" [filters]="wherefilters" [parenthesesGroups]="whereParenthesesGroups"></app-add-filter-form>
  <app-add-grouping-form [columns]="columns" [openForm]="openGrouping" (saveGroupByClicked)="handleSavedGroupBy($event)" [groupByFields]="groupByFields"></app-add-grouping-form>
  <app-add-aggregate-form  [openForm]="openAgregate" [columns]="columns" [aggregateParenthesesGroups]="aggregateParenthesesGroups" [aggregateFilters]="aggregateFilters" [aggregates]="aggregates" [aggregateFiltersColumns]="aggregateFiltersColumns" (saveAggregates)="handleSavedAggregates($event)" (saveAggregateFiltersColumns)="handleSavedAggregatesFiltersColumns($event)" (saveAggregateFilters)="handleSavedAggregatesFilters($event)"  (saveAggregateFilterParenthesesGroup)="handleSavedAggregatesFiltersParentheses($event)"></app-add-aggregate-form>
  <app-add-order-by-and-top-form [openForm]="openOrderBy" [columns]="orderByFeileds" (saveOrderBy)="handleSavedOrderBy($event)" (saveTop)="handleSavedTop($event)"></app-add-order-by-and-top-form>
  <app-add-visualization-details-form [openForm]="openVisualization" (saveVisualizationDetails)="handleSavedVisualizationDetails($event)" [visualizationDetails]="visualizationDetails"></app-add-visualization-details-form>
