
<div class="modal" tabindex="-1" role="dialog" id="chartModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <app-progress-bar [currentStep]="currentStep" [progressValue]="progressValue"  (stepClicked)="displayStep($event)"></app-progress-bar>
          <form class="ChartFrom" >
            <div class="margin-Bottom-3" *ngIf="currentStep === 1">
              <h3>Step 1</h3>
              <app-table-selector [TableType]="TableType" [GetTablesURL]="GetTablesURL" [SeletedTable]="SeletedTable" (tableSelected)=fetchColumns($event) ></app-table-selector>
            </div>


            <div class="margin-Bottom-3" *ngIf="currentStep === 2">
              <h3>Step 2</h3>
              <app-filter [columns]="columns" (UpdateFilters)="handleUpdateWhereFilter($event)" (updateParenthesesGroups)="handleUpdateWhereFilterParentheses($event)" [parenthesesGroups]="whereParenthesesGroups" [header]="'Filter'" [filters]="Wherefilters"></app-filter>
              <app-filter-groups [filters]="Wherefilters" (UpdateFiltersParentheses)="handleUpdateWhereFilterParentheses($event)" [parenthesesGroups]="whereParenthesesGroups"></app-filter-groups>
            </div>

            <div class="margin-Bottom-3" *ngIf="currentStep === 3">
              <h3>Step 3</h3>
              <app-group-by [columns]="columns" (UpdateGroupBy)="handleUpdateGroupBy($event)" [GroupByFelid]="GroupByFelid"></app-group-by>
            </div>


            <div class="margin-Bottom-3" *ngIf="currentStep === 4">
              <h3>Step 4</h3>
              <app-aggregate [columns]="columns" (AddAggregates)="handleAddAggregates($event)" (RemoveAggregates)="handleRemoveAggregates($event)" [Aggregates]="Aggregates"></app-aggregate>
            </div>
            <div class="margin-Bottom-3" *ngIf="currentStep === 5">
              <h3>Step 5</h3>
              <app-filter [columns]="AggregateFiltersColumns" (UpdateFilters)="handleUpdateHavingFilter($event)" (updateParenthesesGroups)="handleUpdateHavingFilterParentheses($event)" [parenthesesGroups]="aggregateParenthesesGroups" [header]="'Aggregate Filter'" [filters]="AggregateFilters"></app-filter>
              <app-filter-groups [filters]="AggregateFilters" (UpdateFiltersParentheses)="handleUpdateHavingFilterParentheses($event)" [parenthesesGroups]="aggregateParenthesesGroups"></app-filter-groups>
            </div>
            <div class="margin-Bottom-3" *ngIf="currentStep === 6">
              <h3>Step 6</h3>
              <app-chart-selector (UpdateChart)="handleChartUpdate($event)"  [ChartType]="ChartType" [NumberOfColumns]="NumberOfColumns" [NumberOfRows]="NumberOfRows"></app-chart-selector>
            </div>

          </form>
          <app-form-actions [currentStep]="currentStep" (prevStepClicked)="prevStep()" (nextStepClicked)="nextStep()" (ExcuteQureyClicked)="ExcuteQureyButtonClicked()"></app-form-actions>





        </div>
        
      </div>
    </div>
  </div>
</div>

