
<!--<div class="modal" tabindex="-1" role="dialog" id="chartModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <app-progress-bar [currentStep]="currentStep" [progressValue]="progressValue"  (stepClicked)="displayStep($event)"
                            [selectedTableSize]="seletedTable.length" [aggregateFunctionsSize]="aggregates.length" [groupBySize]="groupByFelids.length"
                            [aggregates]="aggregates" [titleSize]="tilte.length" [selectedVisualizationTypeSize]="visualizationType.length" [numberOfRows]="numberOfRows" [numberOfColumns]="numberOfColumns"></app-progress-bar>
          <form class="ChartFrom">
            @if(currentStep === 1)
            {
            <div class="margin-Bottom-3">
              <h3>Step 1</h3>
              <app-table-selector [tableType]="tableType" [getTableNamesByTypeURL]="getTableNamesByTypeURL" [seletedTable]="seletedTable" (tableSelected)=fetchColumns($event) [token]="token"></app-table-selector>
            </div>
            }
            @if(currentStep === 2)
            {
            <div class="margin-Bottom-3">
              <h3>Step 2</h3>
              <app-filter [columns]="columns" (updateFilters)="handleUpdateWhereFilter($event)" (updateParenthesesGroups)="handleUpdateWhereFilterParentheses($event)" [parenthesesGroups]="whereParenthesesGroups" [header]="'Filter'" [filters]="wherefilters" [filterOp]="whereFilterOp" [onlyNumber]="false"></app-filter>
              <app-filter-groups [filters]="wherefilters" (updateFiltersParentheses)="handleUpdateWhereFilterParentheses($event)" [parenthesesGroups]="whereParenthesesGroups"></app-filter-groups>
            </div>
            }
            @if(currentStep === 3)
            {
            <div class="margin-Bottom-3">
              <h3>Step 3</h3>
              <app-group-by [columns]="columns" (updateGroupBy)="handleUpdateGroupBy($event)" [groupByFelids]="groupByFelids"></app-group-by>
            </div>
            }

            @if(currentStep === 4)
            {
            <div class="margin-Bottom-3">
              <h3>Step 4</h3>
              <app-aggregate [columns]="columns" (addAggregates)="handleAddAggregates($event)" (removeAggregates)="handleRemoveAggregates($event)" [aggregates]="aggregates"></app-aggregate>
              <app-order-by [columns]="orderByFeileds" [orderBies]="orderBies" (updateOrderBy)="handleUpdateOrderBy($event)"></app-order-by>
              <app-top-selector [top]="top" (updateTopValue)="handleUpdateTopValue($event)"></app-top-selector>
            </div>
            }
            @if(currentStep === 5)
            {
            <div class="margin-Bottom-3">
              <h3>Step 5</h3>
              <app-filter [columns]="aggregateFiltersColumns" (updateFilters)="handleUpdateHavingFilter($event)" (updateParenthesesGroups)="handleUpdateHavingFilterParentheses($event)" [parenthesesGroups]="aggregateParenthesesGroups" [header]="'Aggregate Filter'" [filters]="aggregateFilters" [filterOp]="havingFilterOp" [onlyNumber]="true"></app-filter>
              <app-filter-groups [filters]="aggregateFilters" (updateFiltersParentheses)="handleUpdateHavingFilterParentheses($event)" [parenthesesGroups]="aggregateParenthesesGroups"></app-filter-groups>
            </div>
            }
            @if(currentStep === 6)
            {
            <div class="margin-Bottom-3">
              <h3>Step 6</h3>
              <app-visualization-selector (updateVisualization)="handleVisualizationUpdate($event)" [visualizationType]="visualizationType" [numberOfColumns]="numberOfColumns" [numberOfRows]="numberOfRows" [title]="tilte"></app-visualization-selector>
            </div>
            }
          </form>
          <app-form-actions [currentStep]="currentStep" (prevStepClicked)="prevStep()" (nextStepClicked)="nextStep()" (excuteQureyClicked)="excuteQureyButtonClicked()" [selectedTableSize]="seletedTable.length" [aggregateFunctionsSize]="aggregates.length" [groupBySize]="groupByFelids.length"
                            [aggregates]="aggregates" [titleSize]="tilte.length" [selectedVisualizationTypeSize]="visualizationType.length" [numberOfRows]="numberOfRows" [numberOfColumns]="numberOfColumns"></app-form-actions>





        </div>
        
      </div>
    </div>
  </div>
</div>-->

