<div class="control-header">
  @if(this.isShowMode)
  {
  <div class="header-row">
    <h1>{{dashboardName}}</h1>
    <div class="actions">
      <a (click)="editClick()">
        <i class="fa fa-edit"></i>
        Edit Dashboard |
      </a>
      <a (click)="deleteClick()">
        <i class="fa fa-trash"></i>
        Delete Dashboard
      </a>
    </div>
  </div>
  }
  @if(!this.isShowMode)
  {
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div class="flex">
        <div class="form-item">
          <label>Name:</label>
          <input class="input-sm form-control" [(ngModel)]="currentName" [ngModelOptions]="{standalone: true}" />
        </div>
        <div class="form-item">
          <label>Scope:</label>
          <select class="input-sm form-control" [(ngModel)]="dashboarScope" [ngModelOptions]="{standalone: true}">
            <option value="Cluster">Cluster</option>
            <option value="Property">property</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="button-container">
        <button type="button" class="btn btn-warning">Save</button>
        <button type="button" class="btn btn-default" (click)="cancelClicked()">Cancel</button>
      </div>
    </div>
  </div>
  }
</div>
